html {   
   min-height: 100%;
   font-size: 14px;
   font-family: Calibri, Cochin, Georgia, Times, Times New Roman, serif;
}

@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
   box-shadow: none;
}

body {
   height: 100vh;
}
.wrapper {
   min-height: 100%;
   display:flex;
   flex-direction: column;
}
.container {
   flex: 1 1 auto;
}

.dropdown,
.lookForForm {
   display: flex;
   flex-direction: row;
   padding: 5px;
}


#submitButton {
   margin-left: 5px;
}

#dropdown-btn {
   box-shadow: none;
}

::-webkit-input-placeholder {
   font-size: 14px;
}

.filterForm {
   display: grid;   
   width: 70%;
   height: 20%;
   flex-wrap: wrap;
}
.line {
   display: grid;
   grid: 100% / 22% 22% 22% 22% 22%;
   margin: 5px;
}

.lineBtn {
   display: grid;
   grid: 100% / 20% 20% 20% 20% 20%;
   margin: 5px;
}
.index {
   display: grid;
   grid: 80% 20% / 100%;   
}



footer {   
   align-items: center;
   height: 5vh;
}